@import "tokens";

// Core variables and mixins
@import "mixins";
@import "variables";

// Content
@import "layout/content";

// Header
@import "layout/header";

// Footer
@import "layout/footer";

// Footer
@import "layout/page-header";
@import "layout/buttons";

// Quickview
@import "layout/quickview";

// Sidenav
@import "sidenav/index";
@import "sidenav/dark";

.settings-ctrl {
  position: absolute;
  top: 20%;
  left: -35px;
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  border: 1px solid #dde6e9;
  border-right: 0;
  text-align: center;
  cursor: pointer;
  border-radius: 3px 0 0 3px;

  > i {
    line-height: 35px;
    font-size: 15px;
    color: #3a3f51;
  }
}

#themes {
  background-color: #ffffff;
  border-left: 1px solid #dde6e9;
}
