
@mixin header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $header-bg;
  height: $header-height;
  width: 100%;
  z-index: 10;
}

@mixin header-item {
  &-link {
    display: flex;
    align-items: center;
    white-space: nowrap;
    color: $header-text-color;
    height: $header-height;
    padding: 0 $space-lg;

    &:hover {
      background: $header-bg-hover;
    }
  }
}

.c-header {
  @include header;

  &-fixed {
    position: fixed;
    top: 0;
  }

  &-item {
    @include header-item;
  }

  &-left {
    display: flex;
    align-items: center;

    .c-header-item {
      border-right: 1px solid $header-borders;
    }
  }

  &-center {
    display: flex;
    flex-grow: 1;
    justify-content: center;

    .c-input-container {
      width: 100%;
      margin: 0 1.5rem;
    }
  }

  &-right {
    display: flex;
    align-items: center;

    .c-header-item {
      border-left: 1px solid $header-borders;
    }
  }
}


.c-header-logo img {
  width: $header-logo-width;
}


/**** Header Navigation ****/
.c-header-nav {
  // display: none;

  &-link {
    align-items: center;
    border-radius: 2px;
    color: $color-white;
    display: inline-flex;
    font-size: 0.75rem;
    font-weight: bold;
    padding: .5rem .75rem;
    
    &:not(:last-child) {
      margin-right: 1.25rem;
    }
  
    .c-header-nav-icon {
      font-size: 1rem;
      opacity: .25;
      margin-right: .5rem;
    }

    &-active,
    &:hover {
      background-color: lighten($header-bg, 4);
  
      .c-header-nav-icon {
        color: $color-primary;
        opacity: 1;
      }
    }
  }
}
