<!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
<!-- Quickviews -->
<div id="qv-basic" class="c-quickview">
  <header class="c-quickview-header">
    <p class="c-quickview-title">Quickview Default</p>
    <span class="c-quickview-close">
      <i class="far fa-times"></i>
    </span>
  </header>

  <div class="c-quickview-body">
    <div class="c-media-list c-media-list-divided c-media-list-hover">
      <div class="c-media c-media-middle c-media-action-visible">
        <div class="c-media-body">
          <div class="c-text-md c-text-bold">Annabelle Admin</div>
          <div class="c-text-sm c-text-muted c-p-top-xs">IR Administrator</div>
        </div>
        <a class="c-media-action c-text-success" href="#">
          <span class="fa fa-phone"></span>
        </a>
        <a class="c-media-action c-text-primary" href="#">
          <span class="fa fa-envelope-o "></span>
        </a>
      </div>

      <div class="c-media c-media-middle c-media-action-visible">

        <div class="c-media-body">
          <div class="c-text-md c-text-bold">Siante Lisso</div>
          <div class="c-text-sm c-text-muted c-p-top-xs">Managing Director</div>
        </div>
        <a class="c-media-action c-text-success" href="#">
          <span class="fa fa-phone"></span>
        </a>
        <a class="c-media-action c-text-primary" href="#">
          <span class="fa fa-envelope-o "></span>
        </a>
      </div>

      <div class="c-media c-media-middle c-media-action-visible">
        <div class="c-media-body">
          <div class="c-text-md c-text-bold">Martin Board</div>
          <div class="c-text-sm c-text-muted c-p-top-xs">Managing Director</div>
        </div>
        <a class="c-media-action c-text-success" href="#">
          <span class="fa fa-phone"></span>
        </a>
        <a class="c-media-action c-text-primary" href="#">
          <span class="fa fa-envelope-o "></span>
        </a>
      </div>

      <div class="c-media c-media-middle c-media-action-visible">
        <div class="c-media-body">
          <div class="c-text-md c-text-bold">Reggie Research</div>
          <div class="c-text-sm c-text-muted c-p-top-xs">Research Salesperson</div>
        </div>
        <a class="c-media-action c-text-success" href="#">
          <span class="fa fa-phone"></span>
        </a>
        <a class="c-media-action c-text-primary" href="#">
          <span class="fa fa-envelope-o "></span>
        </a>
      </div>

    </div>
  </div>

  <footer class="c-quickview-footer">
    <button class="c-btn c-btn-primary c-m-right-sm">Submit</button>
    <button class="c-btn c-btn-secondary">Cancel</button>
  </footer>
</div>


<!-- Size small -->
<div id="qv-sm" class="c-quickview c-quickview-sm">
  <header class="c-quickview-header">
    <p class="c-quickview-title">Quickview Small</p>
    <span class="c-quickview-close">
      <i class="far fa-times"></i>
    </span>
  </header>

  <div class="c-quickview-body">
    <div class="c-media-list c-media-list-divided c-media-list-hover">
      <div class="c-media c-media-middle c-media-action-visible">
        <div class="c-media-body">
          <div class="c-text-md c-text-bold">Annabelle Admin</div>
          <div class="c-text-sm c-text-muted c-p-top-xs">IR Administrator</div>
        </div>
        <a class="c-media-action c-text-success" href="#">
          <span class="fa fa-phone"></span>
        </a>
        <a class="c-media-action c-text-primary" href="#">
          <span class="fa fa-envelope-o "></span>
        </a>
      </div>

      <div class="c-media c-media-middle c-media-action-visible">

        <div class="c-media-body">
          <div class="c-text-md c-text-bold">Siante Lisso</div>
          <div class="c-text-sm c-text-muted c-p-top-xs">Managing Director</div>
        </div>
        <a class="c-media-action c-text-success" href="#">
          <span class="fa fa-phone"></span>
        </a>
        <a class="c-media-action c-text-primary" href="#">
          <span class="fa fa-envelope-o "></span>
        </a>
      </div>

      <div class="c-media c-media-middle c-media-action-visible">
        <div class="c-media-body">
          <div class="c-text-md c-text-bold">Martin Board</div>
          <div class="c-text-sm c-text-muted c-p-top-xs">Managing Director</div>
        </div>
        <a class="c-media-action c-text-success" href="#">
          <span class="fa fa-phone"></span>
        </a>
        <a class="c-media-action c-text-primary" href="#">
          <span class="fa fa-envelope-o "></span>
        </a>
      </div>

      <div class="c-media c-media-middle c-media-action-visible">
        <div class="c-media-body">
          <div class="c-text-md c-text-bold">Reggie Research</div>
          <div class="c-text-sm c-text-muted c-p-top-xs">Research Salesperson</div>
        </div>
        <a class="c-media-action c-text-success" href="#">
          <span class="fa fa-phone"></span>
        </a>
        <a class="c-media-action c-text-primary" href="#">
          <span class="fa fa-envelope-o "></span>
        </a>
      </div>

    </div>
  </div>

  <footer class="c-quickview-footer">
    <button class="c-btn c-btn-primary c-m-right-sm">Submit</button>
    <button class="c-btn c-btn-secondary">Cancel</button>
  </footer>
</div>


<!-- Size large -->
<div id="qv-lg" class="c-quickview c-quickview-lg">
  <header class="c-quickview-header">
    <p class="c-quickview-title">Quickview Large</p>
    <span class="c-quickview-close">
      <i class="far fa-times"></i>
    </span>
  </header>

  <div class="c-quickview-body">
    <div class="c-media-list c-media-list-divided c-media-list-hover">
      <div class="c-media c-media-middle c-media-action-visible">
        <div class="c-media-body">
          <div class="c-text-md c-text-bold">Annabelle Admin</div>
          <div class="c-text-sm c-text-muted c-p-top-xs">IR Administrator</div>
        </div>
        <a class="c-media-action c-text-success" href="#">
          <span class="fa fa-phone"></span>
        </a>
        <a class="c-media-action c-text-primary" href="#">
          <span class="fa fa-envelope-o "></span>
        </a>
      </div>

      <div class="c-media c-media-middle c-media-action-visible">

        <div class="c-media-body">
          <div class="c-text-md c-text-bold">Siante Lisso</div>
          <div class="c-text-sm c-text-muted c-p-top-xs">Managing Director</div>
        </div>
        <a class="c-media-action c-text-success" href="#">
          <span class="fa fa-phone"></span>
        </a>
        <a class="c-media-action c-text-primary" href="#">
          <span class="fa fa-envelope-o "></span>
        </a>
      </div>

      <div class="c-media c-media-middle c-media-action-visible">
        <div class="c-media-body">
          <div class="c-text-md c-text-bold">Martin Board</div>
          <div class="c-text-sm c-text-muted c-p-top-xs">Managing Director</div>
        </div>
        <a class="c-media-action c-text-success" href="#">
          <span class="fa fa-phone"></span>
        </a>
        <a class="c-media-action c-text-primary" href="#">
          <span class="fa fa-envelope-o "></span>
        </a>
      </div>

      <div class="c-media c-media-middle c-media-action-visible">
        <div class="c-media-body">
          <div class="c-text-md c-text-bold">Reggie Research</div>
          <div class="c-text-sm c-text-muted c-p-top-xs">Research Salesperson</div>
        </div>
        <a class="c-media-action c-text-success" href="#">
          <span class="fa fa-phone"></span>
        </a>
        <a class="c-media-action c-text-primary" href="#">
          <span class="fa fa-envelope-o "></span>
        </a>
      </div>

    </div>
  </div>

  <footer class="c-quickview-footer">
    <button class="c-btn c-btn-primary c-m-right-sm">Submit</button>
    <button class="c-btn c-btn-secondary">Cancel</button>
  </footer>
</div>


<!-- Size extra large -->
<div id="qv-xl" class="c-quickview c-quickview-xl">
  <header class="c-quickview-header">
    <p class="c-quickview-title">Quickview X-Large</p>
    <span class="c-quickview-close">
      <i class="far fa-times"></i>
    </span>
  </header>

  <div class="c-quickview-body">
    <div class="c-media-list c-media-list-divided c-media-list-hover">
      <div class="c-media c-media-middle c-media-action-visible">
        <div class="c-media-body">
          <div class="c-text-md c-text-bold">Annabelle Admin</div>
          <div class="c-text-sm c-text-muted c-p-top-xs">IR Administrator</div>
        </div>
        <a class="c-media-action c-text-success" href="#">
          <span class="fa fa-phone"></span>
        </a>
        <a class="c-media-action c-text-primary" href="#">
          <span class="fa fa-envelope-o "></span>
        </a>
      </div>

      <div class="c-media c-media-middle c-media-action-visible">

        <div class="c-media-body">
          <div class="c-text-md c-text-bold">Siante Lisso</div>
          <div class="c-text-sm c-text-muted c-p-top-xs">Managing Director</div>
        </div>
        <a class="c-media-action c-text-success" href="#">
          <span class="fa fa-phone"></span>
        </a>
        <a class="c-media-action c-text-primary" href="#">
          <span class="fa fa-envelope-o "></span>
        </a>
      </div>

      <div class="c-media c-media-middle c-media-action-visible">
        <div class="c-media-body">
          <div class="c-text-md c-text-bold">Martin Board</div>
          <div class="c-text-sm c-text-muted c-p-top-xs">Managing Director</div>
        </div>
        <a class="c-media-action c-text-success" href="#">
          <span class="fa fa-phone"></span>
        </a>
        <a class="c-media-action c-text-primary" href="#">
          <span class="fa fa-envelope-o "></span>
        </a>
      </div>

      <div class="c-media c-media-middle c-media-action-visible">
        <div class="c-media-body">
          <div class="c-text-md c-text-bold">Reggie Research</div>
          <div class="c-text-sm c-text-muted c-p-top-xs">Research Salesperson</div>
        </div>
        <a class="c-media-action c-text-success" href="#">
          <span class="fa fa-phone"></span>
        </a>
        <a class="c-media-action c-text-primary" href="#">
          <span class="fa fa-envelope-o "></span>
        </a>
      </div>

    </div>
  </div>

  <footer class="c-quickview-footer">
    <button class="c-btn c-btn-primary c-m-right-sm">Submit</button>
    <button class="c-btn c-btn-secondary">Cancel</button>
  </footer>
</div>



<!-- Backdrop light -->
<div id="qv-backdrop-light" class="c-quickview backdrop-light">
  <header class="c-quickview-header">
    <p class="c-quickview-title">Quickview Light Backdrop</p>
    <span class="c-quickview-close">
      <i class="far fa-times"></i>
    </span>
  </header>

  <div class="c-quickview-body">
    <div class="c-media-list c-media-list-divided c-media-list-hover">
      <div class="c-media c-media-middle c-media-action-visible">
        <div class="c-media-body">
          <div class="c-text-md c-text-bold">Annabelle Admin</div>
          <div class="c-text-sm c-text-muted c-p-top-xs">IR Administrator</div>
        </div>
        <a class="c-media-action c-text-success" href="#">
          <span class="fa fa-phone"></span>
        </a>
        <a class="c-media-action c-text-primary" href="#">
          <span class="fa fa-envelope-o "></span>
        </a>
      </div>

      <div class="c-media c-media-middle c-media-action-visible">

        <div class="c-media-body">
          <div class="c-text-md c-text-bold">Siante Lisso</div>
          <div class="c-text-sm c-text-muted c-p-top-xs">Managing Director</div>
        </div>
        <a class="c-media-action c-text-success" href="#">
          <span class="fa fa-phone"></span>
        </a>
        <a class="c-media-action c-text-primary" href="#">
          <span class="fa fa-envelope-o "></span>
        </a>
      </div>

      <div class="c-media c-media-middle c-media-action-visible">
        <div class="c-media-body">
          <div class="c-text-md c-text-bold">Martin Board</div>
          <div class="c-text-sm c-text-muted c-p-top-xs">Managing Director</div>
        </div>
        <a class="c-media-action c-text-success" href="#">
          <span class="fa fa-phone"></span>
        </a>
        <a class="c-media-action c-text-primary" href="#">
          <span class="fa fa-envelope-o "></span>
        </a>
      </div>

      <div class="c-media c-media-middle c-media-action-visible">
        <div class="c-media-body">
          <div class="c-text-md c-text-bold">Reggie Research</div>
          <div class="c-text-sm c-text-muted c-p-top-xs">Research Salesperson</div>
        </div>
        <a class="c-media-action c-text-success" href="#">
          <span class="fa fa-phone"></span>
        </a>
        <a class="c-media-action c-text-primary" href="#">
          <span class="fa fa-envelope-o "></span>
        </a>
      </div>

    </div>
  </div>

  <footer class="c-quickview-footer">
    <button class="c-btn c-btn-primary c-m-right-sm">Submit</button>
    <button class="c-btn c-btn-secondary">Cancel</button>
  </footer>
</div>

<div class="app-backdrop backdrop-quickview" id="backdrop-light"></div>


<!-- Backdrop dark -->
<div id="qv-backdrop-dark" class="c-quickview backdrop-dark">
  <header class="c-quickview-header">
    <p class="c-quickview-title">Quickview Dark Backdrop</p>
    <span class="c-quickview-close">
      <i class="far fa-times"></i>
    </span>
  </header>

  <div class="c-quickview-body">
    <div class="c-media-list c-media-list-divided c-media-list-hover">
      <div class="c-media c-media-middle c-media-action-visible">
        <div class="c-media-body">
          <div class="c-text-md c-text-bold">Annabelle Admin</div>
          <div class="c-text-sm c-text-muted c-p-top-xs">IR Administrator</div>
        </div>
        <a class="c-media-action c-text-success" href="#">
          <span class="fa fa-phone"></span>
        </a>
        <a class="c-media-action c-text-primary" href="#">
          <span class="fa fa-envelope-o "></span>
        </a>
      </div>

      <div class="c-media c-media-middle c-media-action-visible">

        <div class="c-media-body">
          <div class="c-text-md c-text-bold">Siante Lisso</div>
          <div class="c-text-sm c-text-muted c-p-top-xs">Managing Director</div>
        </div>
        <a class="c-media-action c-text-success" href="#">
          <span class="fa fa-phone"></span>
        </a>
        <a class="c-media-action c-text-primary" href="#">
          <span class="fa fa-envelope-o "></span>
        </a>
      </div>

      <div class="c-media c-media-middle c-media-action-visible">
        <div class="c-media-body">
          <div class="c-text-md c-text-bold">Martin Board</div>
          <div class="c-text-sm c-text-muted c-p-top-xs">Managing Director</div>
        </div>
        <a class="c-media-action c-text-success" href="#">
          <span class="fa fa-phone"></span>
        </a>
        <a class="c-media-action c-text-primary" href="#">
          <span class="fa fa-envelope-o "></span>
        </a>
      </div>

      <div class="c-media c-media-middle c-media-action-visible">
        <div class="c-media-body">
          <div class="c-text-md c-text-bold">Reggie Research</div>
          <div class="c-text-sm c-text-muted c-p-top-xs">Research Salesperson</div>
        </div>
        <a class="c-media-action c-text-success" href="#">
          <span class="fa fa-phone"></span>
        </a>
        <a class="c-media-action c-text-primary" href="#">
          <span class="fa fa-envelope-o "></span>
        </a>
      </div>

    </div>
  </div>

  <footer class="c-quickview-footer">
    <button class="c-btn c-btn-primary c-m-right-sm">Submit</button>
    <button class="c-btn c-btn-secondary">Cancel</button>
  </footer>
</div>


<div class="app-backdrop backdrop-quickview" id="backdrop-dark"></div>

<div class="app-backdrop backdrop-quickview" id="backdrop-main"></div>

<!-- END Quickviews -->
<!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->