<!-- Right sidebar -->
<div class="c-sidenav c-sidenav-right">

  <!-- Sidebar mobile toggler -->
  <div class="c-sidenav-mobile-toggler c-text-center">
    <a href="#" class="c-sidenav-mobile-expand">
      <i class="far fa-expand-wide"></i>
      <i class="far fa-expand-alt"></i>
    </a>
    <span class="font-weight-semibold">Right sidebar</span>
    <a href="#" class="c-sidenav-mobile-right-toggle">
      <i class="far fa-arrow-to-right"></i>
    </a>
  </div>
  <!-- /sidebar mobile toggler -->

  <!-- Sidebar content -->
  <div class="c-sidenav-body">

    <ul class="c-sidenav-menu" data-nav-type="accordion">
      <li class="c-sidenav-menu-category">Category title</li>
      <li class="c-sidenav-menu-item">
        <a href="#" class="c-sidenav-menu-link"><i class="fas fa-university"></i> Link</a>
      </li>
      <li class="c-sidenav-menu-item">
        <a href="#" class="c-sidenav-menu-link"><i class="fas fa-hospital"></i> Another link</a>
      </li>
      <li class="c-sidenav-menu-item">
        <a href="#" class="c-sidenav-menu-link">
          <i class="fas fa-user-astronaut"></i>
          Link with badge
          <span class="badge bg-primary badge-pill ml-auto">2</span>
        </a>
      </li>
      <li class="c-sidenav-divider"></li>
      <li class="c-sidenav-menu-item c-sidenav-menu-submenu">
        <a href="#" class="c-sidenav-menu-link"><i class="fas fa-layer-group"></i> Menu levels</a>
        <ul class="c-sidenav-menu-submenu-group" style="display: none;">
          <li class="c-sidenav-menu-item"><a href="#" class="c-sidenav-menu-link">Second level</a></li>
          <li class="c-sidenav-menu-item c-sidenav-menu-submenu c-sidenav-menu-item-open">
            <a href="#" class="c-sidenav-menu-link">Second level with child</a>
            <ul class="c-sidenav-menu-submenu-group" style="display: block;">
              <li class="c-sidenav-menu-item"><a href="#" class="c-sidenav-menu-link">Third level</a></li>
              <li class="c-sidenav-menu-item c-sidenav-menu-submenu c-sidenav-menu-item-open">
                <a href="#" class="c-sidenav-menu-link">Third level with child</a>
                <ul class="c-sidenav-menu-submenu-group" style="display: block;">
                  <li class="c-sidenav-menu-item"><a href="#" class="c-sidenav-menu-link">Fourth level</a></li>
                  <li class="c-sidenav-menu-item"><a href="#" class="c-sidenav-menu-link">Fourth level</a></li>
                </ul>
              </li>
              <li class="c-sidenav-menu-item"><a href="#" class="c-sidenav-menu-link">Third level</a></li>
            </ul>
          </li>
          <li class="c-sidenav-menu-item"><a href="#" class="c-sidenav-menu-link">Second level</a></li>
        </ul>
      </li>
    </ul>

  </div>
  <!-- /sidebar content -->

</div>
<!-- /right sidebar -->