<div id="sidenavMain" class="c-sidenav {{sidebarClass}}">

  <div class="c-sidenav-user">
    <div class="c-sidenav-user-body">
      <div class="c-sidenav-user-info">
        <img src="https://unsplash.it/200?image=433" class="c-sidenav-user-info-image" width="80" height="80" alt="">
        <h6 class="c-sidenav-user-info-name">Victoria Baker</h6>
        <span class="c-sidenav-user-info-location">Santa Ana, CA</span>
      </div>

      <div class="c-sidenav-user-footer">
        <a href="#user-nav" class="c-sidenav-user-dropdown"><span>Navigation</span></a>
      </div>
    </div>

    <ul class="c-sidenav-menu" id="user-nav">
      <li class="c-sidenav-menu-item">
        <a href="#" class="c-sidenav-menu-link">
          <i class="fas fa-user-astronaut"></i>
          <span>My profile</span>
        </a>
      </li>
      <li class="c-sidenav-menu-item">
        <a href="#" class="c-sidenav-menu-link">
          <i class="fas fa-comments"></i>
          <span>Messages</span>
        </a>
      </li>
      <li class="c-sidenav-menu-item">
        <a href="#" class="c-sidenav-menu-link">
          <i class="fas fa-cog"></i>
          <span>Account settings</span>
        </a>
      </li>
      <li class="c-sidenav-menu-item">
        <a href="#" class="c-sidenav-menu-link">
          <i class="fas fa-power-off"></i>
          <span>Logout</span>
        </a>
      </li>
      <li class="c-sidenav-divider"></li>
    </ul>
  </div>


  <!-- Sidebar content -->
  <div class="c-sidenav-body">


    <ul class="c-sidenav-menu" data-nav-type="accordion">

      <li class="c-sidenav-menu-category">
        <div>Main</div>
        <i class="fas fa-ellipsis-h" title="Main"></i>
      </li>

    {{#each nav}}
      <li class="c-sidenav-menu-item{{#if submenu}} c-sidenav-menu-submenu{{/if}} {{class}}">
        <a href="{{url}}" class="c-sidenav-menu-link {{#ifpage page}}c-sidenav-menu-link-active{{/ifpage}}">
          <i class="{{icon}}"></i> <span>{{title}}</span>
        </a>

        {{#if submenu}}
        <ul class="c-sidenav-menu-submenu-group" data-submenu-title="{{title}}">
          {{#each submenu}}
          <li class="c-sidenav-menu-item{{#if submenu2}} c-sidenav-menu-submenu{{/if}}">
            <a href="{{url}}" class="c-sidenav-menu-link {{#ifpage page}}c-sidenav-menu-link-active{{/ifpage}}">{{text}}</a>

            {{#if submenu2}}
            <ul class="c-sidenav-menu-submenu-group">
              {{#each submenu2}}
              <li class="c-sidenav-menu-item{{#if submenu3}} c-sidenav-menu-submenu{{/if}}">
                <a href="{{url}}" class="c-sidenav-menu-link {{#ifpage page}}c-sidenav-menu-link-active{{/ifpage}}">{{text}}</a>

                {{#if submenu3}}
                <ul class="c-sidenav-menu-submenu-group">
                  {{#each submenu3}}
                  <li class="c-sidenav-menu-item">
                    <a href="{{url}}" class="c-sidenav-menu-link {{#ifpage page}}c-sidenav-menu-link-active{{/ifpage}}">{{text}}</a>
                  </li>
                  {{/each}}
                </ul>
                {{/if}}
              </li>
              {{/each}}
            </ul>
            {{/if}}

          </li>
          {{/each}}
        </ul>
        {{/if}}

      </li>
    {{/each}}

    <!-- <li class="c-sidenav-divider">

    <li class="c-sidenav-menu-category">
      <div>Menu Category</div>
      <i class="fas fa-ellipsis-h" title="Menu Category"></i>
    </li> -->

    </ul>
  </div>

  <div id="sidenavMainFoldToggle" class="c-sidenav-collapse">
    <i class="fa fa-angle-left"></i>
  </div>
</div>
