<div id="themes" class="c-quickview">
    <div class="settings-ctrl" id="themes-trigger">
        <i class="fa fa-cog"></i>
      </div>

  <header class="c-quickview-header">
      <div class="c-text-lg c-text-bold c-quickview-title">Main Sidebar Options</div>
    </header>


  <div class="c-quickview-body">

    <div class="c-media-list">
      <div class="c-media c-media-middle c-media-action-visible">
        <div class="c-media-body">
          <div class="c-text-md c-text-bold">Fold Sidebar</div>
          <div class="c-text-sm c-text-muted c-p-top-xs">Only display icons in the sidebar</div>
        </div>
        <button class="c-btn c-btn-circle c-btn-sm c-btn-primary c-sidenav-main-toggle">
          <span class="fas fa-check"></span>
        </button>
      </div>

      <div class="c-media c-media-middle c-media-action-visible">
        <div class="c-media-body">
          <div class="c-text-md c-text-bold">Toggle Sidebar</div>
          <div class="c-text-sm c-text-muted c-p-top-xs">Hide the sidebar completely</div>
        </div>
        <button class="c-btn c-btn-circle c-btn-sm c-btn-primary c-sidenav-hidden-toggle">
          <span class="fas fa-check"></span>
        </button>
      </div>

      <div class="c-media c-media-middle c-media-action-visible">
        <div class="c-media-body">
          <div class="c-text-md c-text-bold">Toggle User</div>
          <div class="c-text-sm c-text-muted c-p-top-xs">Remove the user section from the sidebar</div>
        </div>
        <button class="c-btn c-btn-circle c-btn-sm c-btn-primary c-sidenav-user-toggle">
          <span class="fas fa-user"></span>
        </button>
      </div>

      <div class="c-media c-media-middle c-media-action-visible">
          <div class="c-media-body">
            <div class="c-text-md c-text-bold">Toggle Dark Nav</div>
            <div class="c-text-sm c-text-muted c-p-top-xs">WIP: Dark Side-Nav</div>
          </div>
          <button class="c-btn c-btn-circle c-btn-sm c-btn-primary c-sidenav-dark-toggle">
            <span class="fas fa-user"></span>
          </button>
        </div>



    </div>

    <header class="c-quickview-header">
        <div class="c-text-lg c-text-bold c-quickview-title">Secondary Sidebar Options</div>
      </header>
      <div class="c-media-list">
          <div class="c-media c-media-middle c-media-action-visible">
            <div class="c-media-body">
              <div class="c-text-md c-text-bold">Toggle Left Sidebar</div>
              <div class="c-text-sm c-text-muted c-p-top-xs">Full height secondary left sidebar</div>
            </div>
            <button class="c-btn c-btn-circle c-btn-sm c-btn-primary c-sidenav-secondary-toggle">
              <span class="fas fa-check"></span>
            </button>
          </div>

          <div class="c-media c-media-middle c-media-action-visible">
              <div class="c-media-body">
                <div class="c-text-md c-text-bold">Toggle Right Sidebar</div>
                <div class="c-text-sm c-text-muted c-p-top-xs">Full height secondary right sidebar</div>
              </div>
              <button class="c-btn c-btn-circle c-btn-sm c-btn-primary c-sidenav-right-toggle">
                <span class="fas fa-check"></span>
              </button>
            </div>


        </div>
  </div>

</div>
