@mixin quickview {
  display: flex;
  flex-direction: column;
  background-color: $quickview-bg;
  width: $width-quickview;
  max-width: calc(100% - 50px);
  position: fixed;
  top: 0;
  bottom: 0;
  right: -$width-quickview;
  z-index: $zindex-quickview;
  transform: translateZ(0);
  transition: $layout-transition;
  backface-visibility: hidden;
  perspective: 1000;
  will-change: transform;
}

@mixin quickview-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $quickview-header-padding;
  min-height: $quickview-header-height !important;
  border-bottom: 1px solid $quickview-header-border;
}

@mixin quickview-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: $quickview-footer-padding;
  min-height: $quickview-footer-height;
  background-color: $quickview-footer-bg;
  border-top: 1px solid darken($quickview-footer-bg, 10);
}

@mixin quickview-close {
  margin-left: 16px;
  font-size: 16px;
  opacity: 0.5;

  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}
