@import "mixins";

.#{$quickview-namespace} {
  @include quickview;

  &-sm {
    width: $width-quickview-sm;
    right: -$width-quickview-sm;
  }

  &-lg {
    width: $width-quickview-lg;
    right: -$width-quickview-lg;
  }

  &-xl {
    width: $width-quickview-xl;
    right: -$width-quickview-xl;
  }

  &.reveal {
    right: 0;
    box-shadow: $offcanvas-right-shadow;
  }

  &.backdrop-light + .backdrop-quickview {
    background-color: $backdrop-bg-light;
  }

  &.backdrop-dark + .backdrop-quickview {
    background-color: $backdrop-bg-dark;
  }
}

.#{$quickview-namespace}-body {
  flex: 1;
}

.#{$quickview-namespace}-block {
  padding: 20px;
  width: 100%;
}

.#{$quickview-namespace}-header {
  @include quickview-header;
}

.#{$quickview-namespace}-close {
  @include quickview-close;
}

.#{$quickview-namespace}-footer {
  @include quickview-footer;
}


.app-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, .7);
}

.app-backdrop.backdrop-quickview {
  background-color: transparent;
  z-index: 998;
}

#backdrop-dark,
#backdrop-light,
#backdrop-main {
  display: none;
}
