.#{$quickview-namespace} {
  display: flex;
  flex-direction: column;
  background-color: $quickview-bg;
  width: $width-quickview;
  max-width: calc(100% - 50px);
  position: fixed;
  top: 0;
  bottom: 0;
  right: -$width-quickview;
  z-index: $zindex-quickview;
  transform: translateZ(0);
  transition: $layout-transition;
  backface-visibility: hidden;
  perspective: 1000;
  will-change: transform;

  &-body {
    flex: 1;
  }

  &-block {
    padding: $space-md;
    width: 100%;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $quickview-header-padding;
    min-height: $quickview-header-height;
    border-bottom: 1px solid $quickview-header-border;
  }

  &-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: $quickview-footer-padding;
    min-height: $quickview-footer-height;
    background-color: $quickview-footer-bg;
    border-top: 1px solid darken($quickview-footer-bg, 10);
  }

  &-close {
    margin-left: $space-md;
    font-size: 16px;
    opacity: 0.5;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }

  &-sm {
    width: $width-quickview-sm;
    right: -$width-quickview-sm;
  }

  &-lg {
    width: $width-quickview-lg;
    right: -$width-quickview-lg;
  }

  &-xl {
    width: $width-quickview-xl;
    right: -$width-quickview-xl;
  }

  &.reveal {
    right: 0;
    box-shadow: $offcanvas-right-shadow;
  }

  &.backdrop-light + .backdrop-quickview {
    background-color: $backdrop-bg-light;
  }

  &.backdrop-dark + .backdrop-quickview {
    background-color: $backdrop-bg-dark;
  }
}

.app-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, .7);
}

.app-backdrop.backdrop-quickview {
  background-color: transparent;
  z-index: 998;
}

#backdrop-dark,
#backdrop-light,
#backdrop-main {
  display: none;
}


.c-action-panel {
  top: 0;
  bottom: 0;
  display: flex;
  position: fixed;
  flex-direction: column;
  width: $action-panel-width;
  right: -$action-panel-width;
  backface-visibility: hidden;
  z-index: $action-panel-zindex;
  transition: $action-panel-transition;
  border-left: $action-panel-border;
  background-color: $action-panel-bg;

  &-left {
    border-right: $action-panel-border;
    box-shadow: none;
    border-left: 0;
  }

  &-body {
    flex: 1;
  }

  &-header {
    border-bottom: $action-panel-border;
    background-color: $action-panel-header-bg;
    padding: $action-panel-padding-v $action-panel-padding-h;

    &-title {
      display: inline-block;
      color: $action-panel-header-color;
      font-size: $action-panel-header-font-size;
      font-weight: $action-panel-header-font-weight;
      line-height: $action-panel-header-line-height;
    }

    &-subtitle {
      display: block;
      font-size: $action-panel-subtitle-font-size;
      line-height: $action-panel-subtitle-line-height;

      + .c-action-panel-header-menu {
        height: $action-panel-header-line-height + $action-panel-subtitle-line-height + ($action-panel-padding-v * 2);
      }
    }

    &-menu {
      top: 0;
      float: right;
      display: flex;
      position: absolute;
      align-items: center;
      right: $action-panel-padding-h;
      height: $action-panel-header-line-height + ($action-panel-padding-v * 2);

      > * {
        margin: auto 12px;

        &:last-child {
          margin-right: $space-0;
        }
      }

      .c-btn {
        margin: auto $space-xs;

        &:last-child {
          margin-right: $space-0;
        }
      }

      &-item {
        padding-left: $space-xs;
      }

      &-icon {
        font-size: $font-body-xl;
        color: $action-panel-header-icon-color;

        &:hover {
          color: $action-panel-header-icon-hover-color;
        }
      }
    }
  }

  &-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: $action-panel-border;
    background-color: $action-panel-footer-bg;
    padding: $action-panel-padding-v $action-panel-padding-h;

    &-link {
      text-decoration: underline;
      color: $action-panel-footer-color;
      font-size: $action-panel-footer-font-size;
      line-height: $action-panel-footer-line-weight;

      &:hover {
        color: $action-panel-footer-hover-color;
      }
    }

    &-item {
      display: flex;
      flex: 1 1 auto;
      align-items: center;
      font-size: $action-panel-footer-font-size;
      line-height: $action-panel-footer-line-weight;

      &-center {
        justify-content: center;
      }

      &-right {
        justify-content: flex-end;
      }

      &-left {
        justify-content: flex-start;
      }
    }
  }

  &-close {
    // @include close(28px);
  }

  &-push {
    position: relative;
    display: none;
  }

  // Sizing loop
  @each $name, $size in $action-panel-sizes {
    &-#{$name} {
      width: $size;
      right: -$size;
    }
  }

  &.c-action-panel-visible {
    right: 0;
    box-shadow: $action-panel-shadow;
    display: flex;
  }

  &-backdrop {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    position: fixed;
    transition: $action-panel-transition;
    background-color: $action-panel-backdrop;

    &-transparent {
      background-color: transparent;
    }
  }
}


.c-action-panel-visible {
  .c-action-panel {
    right: 0;
    left: auto;
    display: flex;

    &-push {
      right: 0;
      left: auto;
      display: flex;
      // position: fixed;

      // .c-sidenav-mobile-toggler {
      //   display: flex;
      // }

      .c-action-panel-header-subtitle + .c-action-panel-header-menu {
        top: 48px;
      }
    }
  }
}
