$dark-bg: #0b3a56 !default;
$dark-foreground: $white !default;


// Dark sidebar
$sidebar-dark-bg:                        $dark-bg !default;
$sidebar-dark-color:                     $dark-foreground !default;
$sidebar-dark-border-width:              1px !default;
$sidebar-dark-border-color:              rgba($white, 0.1) !default;
$sidebar-dark-toggler-bg:                darken($dark-bg, 4%) !default;
$sidebar-dark-toggler-color:             rgba($dark-foreground, 0.9) !default;
$sidebar-dark-toggler-hover-bg:          transparent !default;
$sidebar-dark-toggler-hover-color:       $dark-foreground !default;
$sidebar-dark-tabs-bg:                   darken($dark-bg, 4%) !default;
$sidebar-dark-xs-menu-bg:                lighten($dark-bg, 5%) !default;

$sidebar-dark-user-menu-bg:              transparent !default;
$sidebar-dark-user-menu-border-width:    1px !default;
$sidebar-dark-user-menu-border-color:    rgba($white, 0.06) !default;

// Dark sidebar navigation styles
$navigation-dark-color:                     rgba($dark-foreground, 0.9) !default;
$navigation-dark-hover-bg:                  rgba($black, 0.15) !default;
$navigation-dark-hover-color:               $dark-foreground !default;
$navigation-dark-active-bg:                 #1c7cd6 !default;
$navigation-dark-active-color:              $white !default;
$navigation-dark-sub-bg:                    rgba($black, 0.15) !default;
$navigation-dark-sub-active-bg:             rgba($black, 0.15) !default;
$navigation-dark-sub-active-color:          $white !default;


// Dark sidebar
.c-sidenav-dark {
  background-color: $sidebar-dark-bg;
  color: $sidebar-dark-color;

  // Main sidebar nav
  .c-sidenav-menu {

    // All links
    .c-sidenav-menu-link {
      color: $navigation-dark-color;

      // Ignore disabled links when adding colors
      &:not(.disabled) {
        @include hover {
          color: $navigation-dark-hover-color;
          background-color: $navigation-dark-hover-bg;
        }
      }
    }

    // Active links in submenu
    .c-sidenav-menu-item > .c-sidenav-menu-link-active {
      background-color: $navigation-dark-sub-active-bg;
      color: $navigation-dark-sub-active-color;
    }

    // Link in opened submenu
    .c-sidenav-menu-item-open > .c-sidenav-menu-link:not(.disabled),
    > .c-sidenav-menu-item-expanded:not(.c-sidenav-menu-item-open) > .c-sidenav-menu-link {
      background-color: $navigation-dark-hover-bg;
      color: $navigation-dark-hover-color;

      i {
        color: $navigation-dark-hover-color;
      }
    }

    // Active link in top level
    > .c-sidenav-menu-item-open > .c-sidenav-menu-link:not(.disabled),
    > .c-sidenav-menu-item > .c-sidenav-menu-link.active {
      background-color: $navigation-dark-active-bg;
      color: $navigation-dark-active-color;
    }

    // Header
    .c-sidenav-menu-category {
      color: rgba($sidebar-dark-color, 0.5);
    }

    // Divider
    .c-sidenav-divider {
      background-color: $sidebar-dark-border-color;
    }

    .c-sidenav-menu-submenu-group {
      background-color: $navigation-dark-sub-bg;
    }
  }

  // Mobile toggler
  .c-sidenav-mobile-toggler {
    color: $sidebar-dark-toggler-color;
    border-bottom-color: $sidebar-dark-border-color;

    // Links
    a {
      color: $sidebar-dark-toggler-color;

      // Hover state
      @include hover {
        color: $sidebar-dark-toggler-hover-color;
        background-color: $sidebar-dark-toggler-hover-bg;
      }
    }
  }
}
