<!-- Secondary sidebar -->
<div class="c-sidenav c-sidenav-secondary c-bg-gray-0">

  <!-- Sidebar mobile toggler -->
  <div class="c-sidenav-mobile-toggler c-text-center">
    <a href="#" class="c-sidenav-mobile-secondary-toggle">
      <i class="far fa-arrow-to-left"></i>
    </a>
    <span class="font-weight-semibold">Secondary sidebar</span>
    <a href="#" class="c-sidenav-mobile-expand">
      <i class="far fa-expand-wide"></i>
      <i class="far fa-expand-alt"></i>
    </a>
  </div>
  <!-- /sidebar mobile toggler -->

  <!-- Sidebar content -->
  <div class="c-sidenav-body">

    <div class="c-media-list c-media-list-hover c-p-top-md">

      <div class="c-media c-media-middle">
        <i class="fal fa-envelope c-text-primary-7" aria-hidden="true"></i>
        <div class="c-media-body">
          <div class="c-text-md">Inbox</div>
        </div>
        <span class="c-badge c-badge-primary c-badge-rounded">6</span>
      </div>

      <div class="c-media c-media-middle">
        <i class="fal fa-clock c-text-warning-7" aria-hidden="true"></i>
        <div class="c-media-body">
          <div class="c-text-md">Snoozed</div>
        </div>
      </div>

      <div class="c-media c-media-middle">
        <i class="fa fa-check c-text-success-7" aria-hidden="true"></i>
        <div class="c-media-body">
          <div class="c-text-md">Done</div>
        </div>
        <span class="c-badge c-badge-success c-badge-rounded">10</span>
      </div>

    </div>

    <hr class="c-hr">

    <div class="c-media-list c-media-list-hover">
      <div class="c-media c-media-middle">
        <i class="fal fa-envelope-open c-text-gray-6" aria-hidden="true"></i>
        <div class="c-media-body">
          <div class="c-text-md">Drafts</div>
        </div>
      </div>

      <div class="c-media c-media-middle">
        <i class="fal fa-paper-plane c-text-gray-6" aria-hidden="true"></i>
        <div class="c-media-body">
          <div class="c-text-md">Sent</div>
        </div>
      </div>

      <div class="c-media c-media-middle">
        <i class="fal fa-bell c-text-gray-6" aria-hidden="true"></i>
        <div class="c-media-body">
          <div class="c-text-md">Reminders</div>
        </div>
      </div>

      <div class="c-media c-media-middle">
        <i class="fal fa-trash c-text-gray-6" aria-hidden="true"></i>
        <div class="c-media-body">
          <div class="c-text-md">Trash</div>
        </div>
      </div>

      <div class="c-media c-media-middle">
        <i class="fal fa-user c-text-gray-6" aria-hidden="true"></i>
        <div class="c-media-body">
          <div class="c-text-md">Contacts</div>
        </div>
      </div>
    </div>
    <hr class="c-hr">

  </div>
  <!-- /sidebar content -->

</div>
<!-- /secondary sidebar -->