.c-sidenav {
  top: 0;
  bottom: 0;
  z-index: 1040;
  flex: 0 0 auto;
  transition: none;
  box-sizing: content-box;
  background-clip: content-box;
  width: $sidebar-default-width;
  color: $sidebar-default-color;
  border-right: $sidebar-default-border;
  font-size: $sidebar-default-font-size;
  font-weight: 500;
  background-color: $sidebar-default-bg-color;

  &-body {
    bottom: 0;
    flex: 1 1 0%;
    width: inherit;
    overflow-y: auto;
    overflow-x: hidden;
    top: $header-height;
    margin-bottom: 40px;
    padding-bottom: 20px;
    transition: left ease-in-out 0.15s, right ease-in-out 0.15s;
  }

  &-main {
    left: 0;
    z-index: 99;

    .c-sidenav-body {
      left: 0;
    }
  }

  &-secondary {
    left: 0;
    z-index: 98;

    .c-sidenav-body {
      left: 0;
    }
  }

  &-right {
    right: -($sidebar-default-width);
    border-left: $sidebar-default-border;
    display: none;
    z-index: 97;
    border-right: 0;

    .c-sidenav-body {
      right: 0;
    }
  }

  &-fullscreen {
    width: 100%;

    .c-sidenav-mobile-expand i {
      &:first-child {
        display: none;
      }

      &:last-child {
        display: inline-block;
      }
    }
  }

  &-hidden {
    left: -($sidebar-default-width + 2);
    display: none;

    .c-sidenav-body {
      left: 0;
    }
  }
}

// .c-sidenav-menu-item-open {
//   .c-sidenav-menu-submenu-group {
//     display: block;
//   }
// }

