.c-sidenav-component {
  width: 100%;
  display: flex;
  margin-left: -1px;
  margin-bottom: $space-md;
  border: $sidebar-default-border;

  @media (min-width: 768px) {
    display: block;
    width: $sidebar-default-width;

    .c-sidenav-body {
      top: 0;
      position: relative;
      margin-bottom: 0;
    }

    // Left alignment
    &-left {
      margin-right: $space-md;
    }

    // Right alignment
    &-right {
      margin-left: $space-md;
    }
  }
}

// Content sidebar
// .c-sidenav-component {
//   display: block;
//   width: $sidebar-base-width;
//   z-index: $sidebar-zindex-component;

//   // Left alignment
//   &-left {
//     margin-right: $grid-gutter-width;
//   }

//   // Right alignment
//   &-right {
//     margin-left: $grid-gutter-width;
//   }
// }

.c-sidenav-divider {
  height: 1px;
  margin: $space-sm 0;
  background-color: $sidebar-divider-default-color;
}

.c-sidenav-collapse {
  bottom: 0;
  height: 40px;
  display: flex;
  font-size: 18px;
  cursor: pointer;
  position: fixed;
  color: #868e96;
  padding: 10px 20px;
  align-items: center;
  background: #f8f9fa;
  justify-content: flex-end;
  width: $sidebar-default-width;
  border-top: 1px solid #e9ecef;

  &:hover {
    background-color: #f1f3f5
  }
}
