.c-sidenav-folded {
  .c-sidenav-user-info {
    display: none;
  }

  .c-sidenav-user-footer {
    > a {
      padding: $space-md;

      > span {
        display: none;
      }
    }

    > a::after {
      margin: auto;
    }
  }

  .c-sidenav {
    position: static;
    transition: none;

    &:not(.c-sidenav-fixed) .c-sidenav-body {
      position: static;
      overflow: visible;
      width: auto;
    }
  }

  .c-sidenav-main {
    width: $sidebar-folded-default-width;
    overflow: visible;
    left: 0;

    .c-sidenav-body::-webkit-scrollbar {
      width: 0 !important;
    }

    .c-sidenav-menu {
      > {
        .c-sidenav-menu-item {
          position: relative;
          margin: 0;

          > .c-sidenav-menu-link {
            justify-content: center;
            padding-left: 0;
            padding-right: 0;

            > i {
              position: static;
              margin-left: 0;
              margin-right: 0;
              display: block;
            }

            > span {
              display: none;
            }
          }
        }

        .c-sidenav-menu-submenu {
          > {
            .c-sidenav-menu-submenu-group {
              position: absolute;
              top: 0;
              right: -($sidebar-default-width - 10);
              width: $sidebar-default-width - 10;
              background: white;
              display: none;
              z-index: 1030;
              box-shadow: 0 0.5rem 1rem rgba(#000000, .07);
              border: $sidebar-default-border;
            }

            .c-sidenav-menu-submenu-group[data-submenu-title]::before {
              content: attr(data-submenu-title);
              display: block;
              padding: 16px;
              padding-bottom: 0;
              opacity: 0.5;
            }

            .c-sidenav-menu-link::after {
              content: none;
            }
          }

          &:hover > .c-sidenav-menu-submenu-group {
            display: block !important;
          }

          &:focus > .c-sidenav-menu-submenu-group {
            display: block !important;
          }
        }

        .c-sidenav-menu-category {
          padding: 0;
          text-align: center;
          margin-top: 0;

          > i {
            display: block;
            top: 0;
            padding: $space-md;
            margin-top: $space-xs;
            margin-bottom: $space-xs;
          }

          > div {
            display: none;
          }
        }

        .c-sidenav-menu-item-open > .c-sidenav-menu-submenu-group {
          display: none !important;
        }
      }

      .c-sidenav-menu-submenu-group {
        .c-sidenav-menu-link {
          padding-left: $space-md;
        }

        .c-sidenav-menu-submenu-group {
          .c-sidenav-menu-link {
            padding-left: $space-xl;
          }

          .c-sidenav-menu-submenu-group .c-sidenav-menu-link {
            padding-left: ($space-xl + $space-md);
          }
        }
      }
    }

    .c-sidenav-menu-submenu-reversed .c-sidenav-menu-submenu-group {
      top: auto !important;
      bottom: 0;
    }
  }
}
