.c-sidenav-mobile-toggler {
  display: none;
  justify-content: space-between;
  align-items: center;
  color: $color-gray-8;
  border-bottom: 1px solid $color-gray-4;
  height: $header-height;
  padding: 0 $space-sm;

  a {
    color: $color-gray-8;
    padding: $space-xs $space-sm;
    transition: all ease-in-out 0.15s;

    &:hover {
      color: $color-gray-8;
      background-color: $color-gray-1;
    }
  }
}

.c-sidenav-mobile-main .c-sidenav-main {
  left: -($sidebar-default-width);
  position: fixed;

  .c-sidenav-body {
    left: -($sidebar-default-width);
    position: fixed;
  }
}

.c-sidenav-mobile-secondary .c-sidenav-secondary {
  left: -($sidebar-default-width);
  position: fixed;

  .c-sidenav-body {
    left: -($sidebar-default-width);
    position: fixed;
  }
}

.c-sidenav-mobile-right .c-sidenav-right {
  display: block;
  right: 0;

  .c-sidenav-body {
    right: 0;
  }
}

.c-sidenav-mobile-component .c-sidenav-component {
  display: block;
}

.c-sidenav-mobile-expand i:last-child:not(:first-child) {
  display: none;
}
