// @import 'mobile';
@import "mixins";
@import 'core';
@import 'user';


@media (max-width: 768px) {
  .c-sidenav {
    position: fixed;
    transition: none;
    left: -($sidebar-default-width + 2);
  }
}

