@import 'mobile';
@import 'core';
@import 'extra';
@import 'menu';
@import 'user';
@import 'folded';


@media (min-width: 768px) {
  .c-sidenav {
    .c-sidenav-mobile-toggler {
      display: none;
    }
  }

  .c-sidenav-main-hidden .c-sidenav.c-sidenav-main {
    display: none;
  }

  .c-sidenav-component-hidden .c-sidenav.c-sidenav-component {
    display: none;
  }

  .c-sidenav-secondary-hidden .c-sidenav.c-sidenav-secondary {
    display: none;
  }

  .c-sidenav-mobile-right .c-sidenav.c-sidenav-right {
    display: none;
  }

  .c-sidenav-right-visible .c-sidenav.c-sidenav-right {
    display: block;
  }
}


@media (max-width: 768px) {
  .c-sidenav {
    .c-sidenav-mobile-toggler {
      display: flex;
    }


    &:not(.c-sidenav-component) {
      position: fixed;
      transition: none;
      left: -($sidebar-default-width + 2);
    }
  }

  .c-sidenav-mobile-main .c-sidenav-main {
    left: 0;
    position: fixed;

    .c-sidenav-body {
      left: 0;
      position: fixed;
    }
  }

  .c-sidenav-mobile-secondary .c-sidenav-secondary {
    left: 0;

    .c-sidenav-body {
      left: 0;
    }
  }

  .c-sidenav-mobile-right .c-sidenav-right {
    right: 0;
    left: auto;

    .c-sidenav-body {
      right: 0;
      left: auto;
    }
  }
}


.c-sidenav-collapse {
  display: flex;
  height: $footer-height;
  background: #f8f9fa;
  color: #868e96;
  border-top: 1px solid #e9ecef;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  position: fixed;
  bottom: 0;
  width: $sidebar-default-width;

  .c-sidenav-folded & {
    width: $sidebar-folded-default-width;
  }
}
