
//
// Color system
//
// Includes grey palette, contextual colors and main theme colors

// Grey shades

$body-bg                           : $color-gray-0;
$body-color                        : $color-black;


// Images
$img-path:                                url('../images/user_bg4.jpg') !default;


// Transition timers
$component-transition-timer:              0.15s !default;
$component-transition-delay:              0.15s !default;
$transition-base                   : all .15s ease-in-out;

//
// Fonts
//
// Font, line-height, and color for body text, headings, and more.

// Font families
$font-family-base                  : $font-family-sans;

// Font sizes
$font-size-base                    : 0.8125rem; // Assumes the browser default, typically `16px`
$line-height-base                  : 1.5385;
$font-weight-base                  : 400;

// Line heights
$caret-width:                 .3em !default;


$sidebar-default-width: 256px;
$sidebar-folded-default-width: 56px;
$sidebar-default-bg-color: $color-white;
$sidebar-default-color: $color-black;
$sidebar-default-border: 1px solid $color-gray-4;
$sidebar-divider-default-color: $color-gray-4;
$header-default-height: 48px;

$footer-font-size       : 12px !default;
$footer-color           : $color-gray-6 !default;
$footer-color-link      : $color-gray-6 !default;
$footer-background-color: $color-white !default;
$footer-padding         : 0 $space-md !default;
$footer-height          : 48px !default;
$footer-trans-color     : $color-black !default;


$page-header-light-bg:                       $color-white !default;
$page-header-dark-bg:                        #273246 !default;
$page-header-dark-color:                     $color-white !default;


$white                    : $color-white !default;
$header-bottom-border     : #fcfcfc !default;
$header-bg                : #0b3a56 !default;
$header-bg-hover          : rgba(0, 0, 0, 0.1) !default;
$header-text-color        : $color-white !default;
$header-borders           : rgba(255, 255, 255, 0.1) !default;
$header-logo-max-width    : 120px !default;
$header-height            : 48px !default;
$header-logo-width        :  85px !default;
