// Core variables and mixins
//
@import "old";
@import "tokens";
@import "variables";
@import "scafolding";
@import "sidenav/sidenav";
@import "quickview/quickview";
@import "aside/aside";


.c-footer {
  width: auto;
  flex: 0 0 40px;
  align-items: center;
  height: 40px;
  z-index: 995;
}

.c-header {
  background-color: #0e334c;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.c-header-item-link {
  color: #f8f9fa;
  display: flex;
  height: 50px;
  padding: 0 20px;
}

.c-header-item-link:hover {
  background: rgba(0, 0, 0, .05);
}

.c-header-right .c-header-item {
  border-left: 1px solid rgba(0, 0, 0, .1);
}
